
@{
    Layout = null;
}
@model  string
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/stylesheets/SignupAndLogin_stylesheet.css">
    <title>DJ</title>
    <script type="text/javascript">

         function checkfornullvalues() {
             var sp = document.getElementById("spid").value;
             var djname = document.getElementById("djname").value;
             var p = document.getElementById("price").value;
             var d = document.getElementById("discount").value;

             if (sp == "") {
                 alert("Please Enter Service Provider ID");
                 document.getElementById('spid').style.backgroundColor = "red";
                 document.getElementById('spid').focus();
                 return false;
             }
             else if (sp != document.getElementById("hiddensession").value)
             {
                 alert("Incorrect Service ProviderID");
                 document.getElementById('spid').style.backgroundColor = "red";
                 document.getElementById('spid').focus();
                 return false;
             }
             else if (djname == "") {
                 alert("Please Enter Venue Name");
                 document.getElementById('djname').style.backgroundColor = "red";
                 document.getElementById('djname').focus();
                 return false;
             }
             else if (p == "") {
                 alert("Please Enter Price");
                 document.getElementById('price').style.backgroundColor = "red";
                 document.getElementById('price').focus();
                 return false;
             }
             else if (d == "") {
                 alert("Please Enter Discount");
                 document.getElementById('discount').style.backgroundColor = "red";
                 document.getElementById('discount').focus();
                 return false;
             }
             else if (sp != "" && djname != "" && p != null && d != null) {
                 document.getElementById("form1").action = "../Home/addDJ";
             }
         }
    </script>
</head>
<body>
    <div>
        <form class="formContainer" id="form1" name="form1" method="post">
            <h1 class="formContainerHeading">Add DJ</h1>
            <input type="text" placeholder="Service Provider Id" id="spid" name="spid" />
            <br />
            <input type="text" placeholder="DJ Name" id="djname" name="djname" />
            <br />
            <input type="text" placeholder="Price" id="price" name="price" />
            <br />
            <input type="text" placeholder="Discount" id="discount" name="discount" />
            <br />
            <input type="hidden" value="@Session["SP_username"]" id="hiddensession" />
            <input type="submit" value="Sign Up" onclick="checkfornullvalues()" />
            <p style="color: red; font-style: italic; font-family: 'Trebuchet MS'; font-size: 15px; margin: 3px;">@Model</p>
            <a class="signupLink" href="~/Home/DJSBySp">Click here to see registered DJ </a>
        </form>
    </div>
</body>
</html>

