
@{
    Layout = null;
}
@model  string
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/stylesheets/SignupAndLogin_stylesheet.css">
    <title>DJ</title>
    <script type="text/javascript">

        function checkfornullvalues() {
            var dv = document.getElementById("deleteDJ").value;

            if (dv == "") {
                alert("Please Enter DJ Name");
                document.getElementById('deleteDJ').style.backgroundColor = "red";
                document.getElementById('deleteDJ').focus();
                return false;
            }
            else {
                document.getElementById("form1").action = "../Home/deleteDJ";
            }
        }
    </script>
</head>
<body>
    <div>
        <form class="formContainer" id="form1" name="form1" method="post">
            <h1 class="formContainerHeading">Delete DJ</h1>
            <input type="text" placeholder="DJ Name" id="deleteDJ" name="deleteDJ" />
            <br />
            <input type="submit" value="Delete" onclick="checkfornullvalues()" />
            <p style="color: red; font-style: italic; font-family: 'Trebuchet MS'; font-size: 15px; margin: 3px;">@Model</p>
            <a class="signupLink" href="~/Home/DJsBySp">Click here to view registered DJ </a>
        </form>
    </div>
</body>
</html>
