
@{
    Layout = null;
}
@model  string
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/stylesheets/SignupAndLogin_stylesheet.css">
    <title>Photographer</title>
    <script type="text/javascript">

         function checkfornullvalues() {
             var dn = document.getElementById("Decoratorname").value;
             var up = document.getElementById("updprice").value;
             var ud = document.getElementById("upddiscount").value;

             if (dn == "") {
                 alert("Please Enter Decorator Name");
                 document.getElementById('Decoratorname').style.backgroundColor = "red";
                 document.getElementById('Decoratorname').focus();
                 return false;
             }
             else if (up == "")
             {
                 alert("Please Enter Updated Price ");
                 document.getElementById('updprice').style.backgroundColor = "red";
                 document.getElementById('updprice').focus();
                 return false;
             }
             else if (ud == "") {
                 alert("Please Enter Updated Discount ");
                 document.getElementById('upddiscount').style.backgroundColor = "red";
                 document.getElementById('upddiscount').focus();
                 return false;
             }
             else {
                 document.getElementById("updDecoratorform").action = "../Home/UpdatePhotographer";
             }
         }
    </script>
</head>
<body>
    <div>
        <form class="formContainer" id="updDecoratorform" name="updDecoratorform" method="post">
            <h1 class="formContainerHeading">Update Photographer</h1>
            <p style="color: white; font-style: normal; font-family: 'Trebuchet MS'; font-size: 15px; margin: 3px;">Enter Photographer Name that needs to be updated in the following textbox</p>
            <input type="text" placeholder="Photographer Name" id="Decoratorname" name="Decoratorname" />
            <br />
            <input type="text" placeholder="Update Price" id="updprice" name="updprice" />
            <br />
            <input type="text" placeholder="Update Discount" id="upddiscount" name="upddiscount" />
            <br />
            <input type="text" placeholder="Update Link for Samples" id="upddiscount" name="samples" />
            <br />
            <input type="submit" value="Update" onclick="checkfornullvalues()" />
            <p style="color: red; font-style: italic; font-family: 'Trebuchet MS'; font-size: 15px; margin: 3px;">@Model</p>
            <a class="signupLink" href="~/Home/PhotographersBySP">Click here to view registered Photographer </a>
        </form>
    </div>
</body>
</html>
