body {
    margin: 0;
    padding: 0;
    overflow: visible;
    z-index: 0;
    height: 100%;
    background-color: #101A23;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
}

.header{
    display: flex;
    flex-direction: row;
    position: relative;
    width: calc(100% - 4px);
    background-color: #101A23;
    height:15%;
    margin-left: 1.5px;
}

.header:after, .header:before{
    content:'';
    position: absolute;
    top:-3px;
    left:-3px;
    width:calc(100% + 6px);
    height:calc(100% + 6px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    z-index: -1;
    background-size: 400%;
    animation: borderAnimation 40s linear infinite;
}

@keyframes borderAnimation{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.logoContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    height: 100%;
    width: 50%;
    background-color: transparent;
    margin-left: 40px;
    padding:0px 0px;
}

.logo{
    font-family: 'Calligraffitti-Regular';
    font-size: 65px;
    color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 100%;
    position: relative;
    width:8rem;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.optionsContainer{
    position: relative;
    background-color: transparent;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 70px;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.headerOption{
    color: white;
    font-family: 'Tahoma';
    font-style: normal;
    text-decoration: none;
    transition: 0.3s;
    
}

.headerOption:hover{
    text-decoration: underline;
    text-decoration-color: #3498db;
    color:#3498db
}

.dropbtn {
    color: white;
    font-family: Tahoma;
    font-style: normal;
    text-decoration: none;
    transition: 0.3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    color: white;
    font-family: Tahoma;
    font-style: normal;
    text-decoration: none;
    transition: 0.3s;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            text-decoration: underline;
            text-decoration-color: #3498db;
            color: #3498db
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    text-decoration: underline;
    text-decoration-color: #3498db;
    color: #3498db
}

.bodyContent {
    background-color: #101A23;
    width: 100%;
    height: 85%;
    z-index: -2;
    overflow: auto;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.serviceTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.serviceTitle {
    font-family: 'Marzo';
    color: white;
    font-size: 60px;
    letter-spacing: 1rem;
    animation: fadein 2.5s;
}

.serviceItemListContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 0;
}

.featuredServiceItem {
    width: 82%;
    background-color: #D1E4BF;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    border-style: solid;
    border-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.itemName {
    font-family: 'Marzo';
    font-size: 30px;
    letter-spacing: 1.2px;
}

.itemAddress {
    font-family: 'Marzo';
    font-size: 16px;
    letter-spacing: 1.2px;
}

.itemDetailsTrigger {
    font-family: 'Marzo';
    font-size: 16px;
    letter-spacing: 1.2px;
    margin-top: 2rem;
    backface-visibility:hidden;
    background-color:transparent;
    border-color:transparent;
    padding:0 0;
    border: 0 0;
    font-weight:bold;
}
    .itemDetailsTrigger:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: black;
    }

.featured {
    font-family: 'Marzo';
    font-size: 16px;
    letter-spacing: 1.2px;
    margin-bottom: 1.5rem;
    color: rgb(110, 161, 62);
    text-decoration: underline;
    text-decoration-color: rgb(110, 161, 62);
}

.featuredItemImage {
    width: 225px;
    height: 225px;
    border-style: solid;
    border-color: transparent;
    border-radius: 25px;
}

.itemDetailsLeft {
    display: flex;
    width: 50%;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.itemNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}

.itemDetailsRight {
    display: flex;
    width: 50%;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
}

.itemPriceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.serviceItem {
    width: 82%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    border-style: solid;
    border-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.itemImage {
    width: 175px;
    height: 175px;
    border-style: solid;
    border-color: transparent;
    border-radius: 25px;
}

.addressSearchBarContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.addressSearchTitle {
    font-family: 'Marzo';
    font-size: 16px;
    letter-spacing: 1.2px;
    color: whitesmoke;
    margin-left:20px;
    margin-right:5px;
}

.addressSearchTextBox {
    border: 2px solid white;
    color: white;
    border-radius: 24px;
    border-width: 1.5px;
    background-color: transparent;
    transition: 0.5s;
    padding-left: 10px;
    padding-right: 10px;
    height: 2rem;
    width: 12rem;
    margin: 0 0 !important;
}

    .addressSearchTextBox:hover {
        border-color: #3498db;
    }

    .addressSearchTextBox:focus {
        border-color: #2ecc71;
        width: 13.5rem
    }

.priceTextBox {
    border: 2px solid white;
    color: white;
    border-radius: 24px;
    border-width: 1.5px;
    background-color: transparent;
    transition: 0.5s;
    padding-left: 10px;
    padding-right: 10px;
    height: 2rem;
    width: 6rem;
    margin: 0 0 !important;
}

    .priceTextBox:hover {
        border-color: #3498db;
    }

    .priceTextBox:focus {
        border-color: #2ecc71;
        width: 8rem
    }

.priceTitle {
    font-family: 'Marzo';
    font-size: 16px;
    letter-spacing: 1.2px;
    color: whitesmoke;
    margin-left: 20px;
    margin-right: 5px;
}

.searchButton {
    width: 6rem;
    background-color: #3498db;
    padding: 7px 7px;
    color: white;
    font-size: 15px;
    transition: 0.5s;
    border-radius: 20px;
    border-style: solid;
    border-color: transparent;
    font-family: 'Marzo';
    font-size: 16px;
    letter-spacing: 1.2px;
    margin-left: 20px;
    margin-right: 5px;
}

    .searchButton:hover {
        width: 7rem;
        background-color: #2ecc71;
    }

.itemOptionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.itemLink{
    font-family: 'Marzo';
    font-size: 16px;
    letter-spacing: 1.2px;
    color: black;
    text-decoration: underline;
}

.detail {
    font-family: 'Marzo';
    font-size: 20px;
    color: white;
    letter-spacing: 0.4rem;
}

.button {
    display: inline-block;
    width: 9rem;
    padding: 7px 7px;
    color: white;
    font-size: 15px;
    transition: 0.5s;
    background-color: transparent;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    border-width: 1.5px;
    font-style: italic;
    font-family: 'Trebuchet MS';
    font-size: 15px;
}

    .button:hover {
        background-color: #2ecc71;
        border-color: #2ecc71;
    }